body {
    /* background-color: white; */
    background-image: url("./backround_01.jpg");
  }
  
  div#container {
    background-color:rgb(0, 0, 0, 0.85);
    width: 550px;
    height: 850px;
    color: white;
    margin: auto;
    padding-left: 40px;
  }