body {
    /* background-color: white; */
    background-image: url("./backround_01.jpg");
  }
  
  div#container {
    background-color:rgb(0, 0, 0, 0.85);
    width: 550px;
    height: 850px;
    color: white;
    margin: auto;
    padding-left: 40px;
  }
  #Contenttype {
    width: 505px;
    height: 35px;
  }
  #span1 {
    color: red;
  }
  #submit {
    background-color: red;
    color: white;
    width:100px;
    height: 30px;
    margin-left: 200px;
    border-radius: 36px;
  }
  .bar {
    width: 500px;
    height: 50px;
  }